//- Все примеси в этом файле должны начинаться c имени блока (about)

mixin about()

  .about.gl-border-block
    .gl-page-content
      .about__content
        .about__video-wrapper
          video(autoplay, muted, loop, video).about__video
            source(src="video/puppies-video.mp4", type="video/mp4")

        .about__info
          .about__title About Piratos
          .about__text
            p Piratos is a hybrid game that combines the Free-to-Play and Play-to-Earn models. You can receive free heroes to play casually. Better yet, acquire NFTs to start earning and maximize your profits.
            p You can play by yourself or with friends. The strongest bosses are easier to defeat together.
