//- Все примеси в этом файле должны начинаться c имени блока (hidden-chest)

mixin hidden-chest()

  .hidden-chest.gl-block-shadows
    .gl-border-block
      .gl-page-content
        .hidden-chest__page-content
          .hidden-chest__content
            .css-background-wrapper
              img(src="img/hidden-chest/background.png", loading="lazy", alt="btn").css-background.gl-lg-hide
              img(src="img/hidden-chest/background-lg.png", loading="lazy", alt="btn").css-background.gl-lg-show.gl-md-hide
              img(src="img/hidden-chest/background-mb.png", loading="lazy", alt="btn").css-background.gl-md-show
            .hidden-chest__info
              .hidden-chest__title Hidden chest
              .hidden-chest__text One of the most valuable treasures in the game. Hidden chest can appear at any level for any player. Location — the whole world
              .hidden-chest__caption Turn on your camera and find your treasure!
              a(href="").hidden-chest__btn
                .css-background-wrapper
                  img(src="img/hidden-chest/btn.svg", loading="lazy", alt="btn").css-background.gl-lg-hide
                  img(src="img/hidden-chest/btn-lg.svg", loading="lazy", alt="btn").css-background.gl-lg-show.gl-bg-hide
                  img(src="img/hidden-chest/btn-mb.svg", loading="lazy", alt="btn").css-background.gl-bg-show
                img(src="img/icons/hat.svg", loading="lazy", alt="hat").hidden-chest__btn-icon
                .hidden-chest__btn-text You can find up to <span class="mark">$500,000</span>

