@import "src/scss/sizes";
@import "src/scss/mixins";
@import "src/scss/functions";

.preview {
  position: relative;
  height: calc(100vh - var(--header-height) + 740px);
  min-height: 1620px;
  top: calc(var(--header-height) - 24px);
  background-color: #001C1A;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../img/preview/background.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  @include for-lg-down {
    background-image: url("../img/preview/background-mx.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &:before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @include for-hg-down {
    background-image: none;
    height: auto;
  }

  &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../img/preview/background-back.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    z-index: -1;

    @include for-lg-down {
      content: none;
    }

    @include for-hg-down {
      content: "";
      height: 76vh;
      background-image: url("../img/preview/background-laptop.jpg");
      background-size: cover;
      background-position: top center;
      mask-image: linear-gradient(to top, transparent 10%, var(--main-color) 28%);
    }

    @include for-md-down {
      background-position: top left;
      width: 100%;
    }

    @include for-sm-down {
      height: 290px;
    }
  }

  &:after {
    position: absolute;
    content: none;
    width: 1332px;
    height: 1012px;
    top: 0;
    left: 0;
    background-image: url("../img/preview/background-front.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    z-index: -1;

    @include for-lg-down {
      content: "";
    }

    @include for-lg-down {
      background-position: top left -200px;
    }

    @include for-lg-down {
      background-position: top left -300px;
    }
  }

  &__content {
    padding: 30px 0;
    max-width: 544px;
    height: calc(100vh - var(--header-height));
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 2;

    @include for-fl-down {
      max-width: 450px;
      margin-top: calc(var(--header-height) * -1);
    }

    @include for-hg-down {
      padding: 0;
      margin-top: calc(50vh + 70px + var(--header-height));
      max-width: none;
      min-height: auto;
      height: auto;
      margin-bottom: 72px;
    }

    @include for-sm-down {
      margin-top: 290px;
      justify-content: flex-start;
    }
  }

  &__title-img-wrapper {
    position: relative;

    &:before {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(calc(-50% - 30px), -60%);
      width: 462px;
      height: 160px;
      background: rgba(63, 195, 198, 0.6);
      filter: blur(78.7474px);

      @include for-fl-down {
        width: 450px;
        height: 130px;
        transform: translate(calc(-50% - 66px), -60%);
      }

      @include for-bg-down {
        transform: translate(calc(-100% - 66px), -60%);
      }

      @include for-md-down {
        width: 218px;
        height: 74px;
        transform: none;
        top: 0;
        left: 0;
      }
    }
  }

  &__title-img {
    height: 160px;
    max-width: 100%;
    margin-bottom: 24px;
    transform: translateX(-30px);

    @include for-fl-down {
      height: 130px;
      margin-bottom: 22px;
      transform: translateX(-66px);
    }

    @include for-md-down {
      height: 74px;
      transform: translateX(-24%);
    }
  }

  &__subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    color: white-shade-color(76);

    @include for-fl-down {
      font-size: 20px;
      line-height: 22px;
    }

    @include for-hg-down {
      font-size: 16px;
      line-height: 20px;
    }
  }

  &__info-blocks {
    display: flex;
    margin-top: 36px;

    @include for-hg-down {
      max-width: 450px;
    }

    @include for-md-down {
      max-width: 330px;
      margin-top: 24px;
    }

    @include for-xs-down {
      max-width: 300px;
    }
  }

  &__info-item {
    @include btn-background("../../img/preview/btn-info-ds.svg");
    width: 100%;
    flex: 1 1 100%;
    height: 84px;
    padding: 16px 28px;
    display: grid;
    grid-template-columns: auto 1fr;

    @include for-fl-down {
      padding: 16px 18px;

      &:before {
        background-size: 220px 84px;
      }
    }

    @include for-md-down {
      height: 112px;
      display: flex;
      flex-direction: column;
      padding: 4px 16px;

      &:nth-child(1) {
        width: 148px;
        flex: 1 1 148px;
        @include btn-background("../../img/preview/btn-info-mb-small.svg");
      }

      &:nth-child(2) {
        width: 170px;
        flex: 1 1 170px;
        @include btn-background("../../img/preview/btn-info-mb-big.svg");
      }

      &:before {
        background-size: auto;
      }
    }

    & + & {
      margin-left: 12px;
    }
  }

  &__info-img-wrapper {
    grid-row: 1 / 3;
    display: flex;
    align-items: center;
    margin-right: 16px;

    @include for-fl-down {
      margin-right: 4px;
    }

    @include for-md-down {
      grid-row: auto;
      margin-right: 0;
      margin-bottom: 8px;
    }
  }

  &__info-img {
    width: 36px;
    height: 36px;

    @include for-md-down {
      width: 28px;
      height: 28px;
    }
  }

  &__info-caption {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: white-shade-color(48);

    @include for-fl-down {
      font-size: 14px;
      line-height: 18px;
    }

    @include for-md-down {
      order: 3;
    }
  }

  &__info-value {
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    margin-top: -13px;
    color: var(--blue-color-2);

    @include for-fl-down {
      font-size: 22px;
      line-height: 26px;
      margin-top: 0;
    }

    @include for-md-down {
      order: 2;
    }
  }

  &__btn {
    @include btn-background("../../img/preview/btn-ds.svg");
    @include btn-hover;
    width: 176px;
    height: 56px;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: white-shade-color(92);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

    @include for-md-down {
      margin-top: 40px;
    }

    @include for-sm-down {
      @include btn-background("../../img/preview/btn-mb.svg");
      width: 100%;
      height: 56px;
    }
  }
}
