//- Все примеси в этом файле должны начинаться c имени блока (preview)

mixin preview()

  .preview
    .gl-page-content.gl-border-block.gl-border-block--hg
      .preview__content
        .preview__title-img-wrapper
          img(src="img/preview/piratos-title.svg", width="462", height="160").preview__title-img
        p.preview__subtitle Piratos is a multiplayer play-to-earn NFT game. Genre: action, adventure, AR.
        .preview__info-blocks
          .preview__info-item
            .preview__info-img-wrapper
              img(src="img/icons/hat.svg", width="36", height="36").preview__info-img
            .preview__info-caption Game release
            .preview__info-value 56 days
          .preview__info-item
            .preview__info-img-wrapper
              img(src="img/icons/package.svg").preview__info-img
            .preview__info-caption Marketplace release
            .preview__info-value 24 days

        a(href="", target="_blank").preview__btn Presentation


    +about()

