//- Все примеси в этом файле должны начинаться c имени блока (piratos-team)

mixin piratos-team()
  -
    const slider = [
      {
        img: "ildar-shakirov.png",
        name: "Ildar Shakirov",
        post: "CFO",
        description: "Ex-advisor in international taxation at PwC and senior lawyer in a crypto fund. Now CFO at unique.network and Managing Partner at tx.legal",
      },
      {
        img: "grigoriy-levterov.png",
        name: "Grigoriy Levterov",
        post: "Product Owner ",
        description: "9 years in crypto. 5 years of experience in promoting crypto start-ups. Co-founder of MetaDAO Guild",
      },
      {
        img: "karina-belyancheva.png",
        name: "Karina Belyancheva",
        post: "CTO",
        description: "CEO LLC Metrck. 5 years of project management experience. Implemented 20+ project, including both web services and IOS and Android. Ex.head of management at Technaxis.",
      },
      {
        img: "ildar-muhtov.png",
        name: "Ildar Muhtov",
        post: "Designer",
        description: "7+ years of game design and production of VR/AR projects experience.",
      },
      {
        img: "ilnur-muhtov.png",
        name: "Ilnur Muhtov",
        post: "CEO/CMO",
        description: "Founder and CEO of cryptorobotics.co, founder of MetaDAO Guild, influencer with a total audience of more than 130K people",
      },
      {
        img: "daniil-monchar.png",
        name: "Daniil Monchar",
        post: "Advisor",
        description: "Business advisor. 5 years in GameDev. 7 years in FinTech. Ex Pet Buddies, QIWI. Present Mercuryo.",
      },
      {
        img: "renat-khalimov.png",
        name: "Renat Khalimov",
        post: "Advisor / CEO of SEZ Innopolis",
        description: "More than 6 years of executive experience in IT industry, 10+ years of experience at sales, marketing and investor relations area.",
      },
      {
        img: "roman-goryunov.png",
        name: "Roman Goryunov",
        post: "Advisor",
        description: "More than 8 years of management experience in commercial and product teams, experience in managing knowledge-intensive projects. Being on the cryptocurrency market since 2018. MBA OU UK, Certified business coach.",
      },
    ]

  .piratos-team.gl-block-shadows#piratos-team
    .gl-border-block
      .gl-page-content
        .piratos-team__page-content
          .piratos-team__title Piratos Team

          .piratos-team__swiper-container
            .piratos-team__swiper.swiper.gl-swiper.swiper-container#js-swiper-container
              .gl-swiper__swiper-wrapper.swiper-wrapper
                each item in slider
                  .piratos-team__slide.swiper-slide.js-swiper-slide
                    img(src=`img/piratos-team/${item.img}`).piratos-team__slide-img
                    .piratos-team__slide-name-wrapper
                      .piratos-team__slide-name= item.name
                      a(href="", target="_blank").piratos-team__slide-link
                        img(src="img/links/in.svg", width="30", height="30").piratos-team__slide-link-icon
                    .piratos-team__slide-post= item.post
                    .piratos-team__slide-description= item.description

            .piratos-team__swiper-btns-wrapper
              button.gl-swiper__btn-nav.gl-swiper__btn-nav--prev#js-btn-prev
              button.gl-swiper__btn-nav.gl-swiper__btn-nav--next#js-btn-next
