//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/about/about.pug
include ../blocks/character-rentals/character-rentals.pug
include ../blocks/footer/footer.pug
include ../blocks/game-mechanics/game-mechanics.pug
include ../blocks/header/header.pug
include ../blocks/hidden-chest/hidden-chest.pug
include ../blocks/layers/layers.pug
include ../blocks/marketplace/marketplace.pug
include ../blocks/piratos-team/piratos-team.pug
include ../blocks/preview/preview.pug
include ../blocks/product-roadmap/product-roadmap.pug
include ../blocks/ship/ship.pug
include ../blocks/side-bar/side-bar.pug
include ../blocks/treasure-island/treasure-island.pug
