@import "src/scss/sizes";
@import "src/scss/functions";

$slide-width: 386px;
$slide-width-fl: 286px;
$slide-width-mb: 328px;

.game-mechanics {
  &__page-content {
    max-width: 100vw;
    overflow: hidden;
    padding: 120px 0 116px;
  }

  &__title {
    margin-bottom: 50px;
  }

  &__swiper {
    //padding-bottom: 22px;
  }

  &__swiper-wrapper {
    @include for-lg-up {
      margin-left: calc((100vw - var(--page-content-big)) / 2);
    }
  }

  &__slide, &__slide-content, &__slide-img {
    width: $slide-width;

    @include for-fl-down {
      width: $slide-width-fl;
    }

    @include for-mb-down {
      width: $slide-width-mb;
    }
  }

  &__slide {
    height: 656px;
    position: relative;
    z-index: 1;
    display: flex;

    @include for-lg-down {
      &:first-child, &:last-child {
        width: calc(#{$slide-width} + var(--page-content-padding-small));
      }

      &:first-child {
        justify-content: flex-end;
      }

      &:last-child {
        justify-content: flex-start;
      }
    }

    @include for-fl-down {
      height: 556px;

      &:first-child, &:last-child {
        width: calc(#{$slide-width-fl} + var(--page-content-padding-small));
      }
    }

    @include for-mb-down {
      height: 576px;
      width: 100%;
      justify-content: center;

      &:first-child, &:last-child {
        width: 100%;
        justify-content: center;
      }
    }

    &:before {
      position: absolute;
      content: "";
      bottom: 72px;
      width: 100%;
      height: 80px;
      background: rgba(63, 195, 198, 0.24);
      filter: blur(48px);
    }
  }

  &__slide-content {
    height: 100%;
  }

  &__slide-img {
    position: absolute;
    height: 100%;
    object-fit: contain;
    z-index: -1;
  }

  &__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 72px 52px;

    @include for-lg-down {
      padding: 42px 20px;
    }
  }

  &__caption {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: white-shade-color(92);
    text-shadow: var(--blue-shadow);
    margin-bottom: 12px;
  }

  &__value {
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: white-shade-color(76);
    height: 60px;

    @include for-lg-down {
      height: 70px;
    }
  }
}
