extends ../pug/layout.pug

block meta
  title Piratos
  meta(name='description', content='')

block content
  +preview()
  +game-mechanics()
  +ship()
  +hidden-chest()
  +treasure-island()
  +character-rentals()
  +marketplace()
  +piratos-team()
  +product-roadmap()
