//- Все примеси в этом файле должны начинаться c имени блока (treasure-island)

mixin treasure-island()
  -
    const grid = [
      { img: "img/icons/calendar.svg", text: "Treasure Island appears once a month for 3 hours." },
      {
        img: "img/icons/ar.svg",
        text: "Users can get tokens for free every minute if they come near it and point the phone on Island. "
      },
      { img: "img/icons/diamond.svg", text: "The number of tokens received depends on the level of the player." },
    ]

  +layers(
    "treasure-island",
    grid,
    false,
    "Treasure Island"
  )
