@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/AlegreyaSC/AlegreyaSC-Regular.woff2') format('woff2'),
  url('../fonts/AlegreyaSC/AlegreyaSC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/AlegreyaSC/AlegreyaSC-Medium.woff2') format('woff2'),
  url('../fonts/AlegreyaSC/AlegreyaSC-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/AlegreyaSC/AlegreyaSC-Bold.woff2') format('woff2'),
  url('../fonts/AlegreyaSC/AlegreyaSC-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/AlegreyaSC/AlegreyaSC-ExtraBold.woff2') format('woff2'),
  url('../fonts/AlegreyaSC/AlegreyaSC-ExtraBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AlegreyaSC';
  src: url('../fonts/AlegreyaSC/AlegreyaSC-Black.woff2') format('woff2'),
  url('../fonts/AlegreyaSC/AlegreyaSC-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
