@import "src/scss/sizes.scss";
@import "src/scss/extends";
@import "src/scss/functions";

.gl-layout-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  flex: 1;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
  position: relative;
}

.gl-layout-content {
  @extend %set-max-height;
  width: 100%;
  height: 100%;

  @include for-md-down {
    overflow-x: hidden;
  }
}

.gl-block-shadows {
  background-color: var(--main-color-2);
  position: relative;

  &:before, &:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 180px;
  }

  &:before {
    top: 0;
    background: linear-gradient(180deg, #021414 0%, rgba(8, 37, 37, 0) 100%);
  }

  &:after {
    bottom: 0;
    background: linear-gradient(0deg, #021414 0%, rgba(8, 37, 37, 0) 100%);
  }
}

.gl-page-content {
  padding-left: var(--page-content-padding);
  padding-right: var(--page-content-padding);
  width: 100%;
  max-width: calc(var(--page-content-small) + var(--page-content-padding) * 2);
  margin-left: auto;
  margin-right: auto;

  &--big {
    max-width: calc(var(--page-content-big) + var(--page-content-padding) * 2);
  }
}

.gl-modal {
  @extend %modal;
  z-index: var(--z-index-modal);
  background-color: rgba(42, 46, 52, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;

  &__container {
    max-height: 100vh;
    width: 344px;
    overflow: auto;
    background-color: #fff;
    border-radius: var(--border-radius-big);
    margin: 30px 10px;

    @include for-md-down {
      margin: 0;
    }
  }
}

.gl-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  color: white-shade-color(92);
  text-shadow: var(--blue-shadow);

  &--center {
    text-align: center;
  }
}

.gl-border-block {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    bottom: 0;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg, rgba(62, 149, 153, 0.06) 15%, #3E9599 50.76%, rgba(62, 149, 153, 0.06) 85.06%);
    z-index: 1;
  }

  &--hg {
    &:before {
      content: none;

      @include for-hg-down {
        content: "";
      }
    }
  }
}
