//- Все примеси в этом файле должны начинаться c имени блока (product-roadmap)

mixin product-roadmap()
  -
    const points = [
      {
        title: "Q2 2023",
        list: ["Marketplace", "Blockchain", "MVP version launch", "Social media & promo launch", "Seed round"],
      },
      {
        title: "Q3 2023",
        list: ["Mini-games launch", "Partnerships", "Multiplayer"],
      },
      {
        title: "Q4 2023",
        list: ["Full version launch", "Public sale"],
      }
    ]

  .product-roadmap
    .gl-page-content.gl-page-content--big.gl-hg-show
      .product-roadmap__title Product roadmap
    .product-roadmap__map
      .css-background-wrapper
        img(src="img/product-roadmap/map.png", loading="lazy", alt="map").css-background.gl-lg-hide
        img(src="img/product-roadmap/map-lg.png", loading="lazy", alt="map").css-background.gl-lg-show.gl-md-hide
        img(src="img/product-roadmap/map-mb.png", loading="lazy", alt="map").css-background.gl-md-show

      .product-roadmap__content
        .product-roadmap__title.gl-hg-hide Product roadmap

        div
          each point in points
            .product-roadmap__point-wrapper
              img(src="img/product-roadmap/flag.svg").product-roadmap__point-flag-icon.gl-md-show
              .product-roadmap__point-title= point.title
              ul.product-roadmap__point-list
                each item in point.list
                  li.product-roadmap__point-item= item

