@import "src/scss/sizes";
@import "src/scss/mixins";
@import "src/scss/functions";

.product-roadmap {
  background: var(--main-color);
  padding: 42px 0;
  display: flex;
  flex-direction: column;
  align-items: center;


  &__map {
    @include img-background(contain);
    position: relative;
    width: 1602px;
    height: 870px;

    @include for-lg-down {
      width: 1208px;
      height: 730px;
    }

    @include for-fl-down {
      width: 960px;
      height: 594px;
    }

    @include for-hg-down {
      width: 904px;
      height: 556px;
    }

    @include for-bg-down {
      width: 704px;
      height: 430px;
    }

    @include for-md-down {
      width: 328px;
      height: 900px;
      padding: 76px 40px;
    }

    @include for-xs-down {
      width: 300px;
      height: 822px;
      padding: 56px 40px;
    }
  }

  &__title {
    position: absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 48px;
    line-height: 52px;
    color: white-shade-color(92);
    text-shadow: var(--blue-shadow);
    text-align: center;

    @include for-lg-down {
      top: 86px;
    }

    @include for-hg-down {
      position: initial;
      transform: none;
      font-size: 36px;
      line-height: 40px;
      margin-bottom: 42px;
    }
  }

  &__point-wrapper {
    position: absolute;
    max-width: 314px;

    &:nth-child(1) {
      top: 432px;
      left: 302px;

      @include for-lg-down {
        top: 374px;
        left: 230px;
      }

      @include for-fl-down {
        top: 300px;
        left: 180px;
      }

      @include for-hg-down {
        top: 280px;
        left: 166px;
      }

      @include for-bg-down {
        top: 212px;
        left: 50px;
      }
    }

    &:nth-child(2) {
      top: 311px;
      left: 700px;

      @include for-lg-down {
        top: 284px;
        left: 532px;
      }

      @include for-fl-down {
        top: 220px;
        left: 424px;
      }

      @include for-hg-down {
        top: 164px;
        left: 436px;
      }

      @include for-bg-down {
        top: 78px;
        left: 340px;
      }
    }

    &:nth-child(3) {
      top: 536px;
      right: 280px;

      @include for-lg-down {
        top: 440px;
        right: 178px;
      }

      @include for-fl-down {
        top: 358px;
        right: 100px;
      }

      @include for-hg-down {
        top: 330px;
        right: 84px;
      }

      @include for-bg-down {
        top: 258px;
        right: 24px;
      }
    }

    @include for-md-down {
      position: initial;
      margin-bottom: 38px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__point-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 40px;
    color: white-shade-color(92);
    text-shadow: var(--blue-shadow);
    margin-bottom: 24px;

    @include for-lg-down {
      font-size: 28px;
      line-height: 32px;
      margin-bottom: 16px;
    }
  }

  &__point-item {
    font-size: 20px;
    line-height: 24px;
    position: relative;
    padding-left: 28px;
    text-shadow: var(--blue-shadow);
    color: white-shade-color(92);

    @include for-lg-down {
      font-size: 18px;
      line-height: 22px;
      padding-left: 24px;
    }

    &:before {
      position: absolute;
      content: "";
      top: 8px;
      left: 6px;
      width: 4px;
      height: 4px;
      background-color: white-shade-color(92);
      border-radius: 100%;
    }

    & + & {
      margin-top: 8px;
    }
  }

  &__point-flag-icon {
    width: 48px;
    height: 48px;
    object-fit: contain;
    margin-bottom: 24px;

    @include for-xs-down {
      width: 38px;
      height: 38px;
      margin-bottom: 16px;
    }
  }
}
